body {
  background-color: lightblue;
  color: white;
  text-align: center;
}

div {
display: inline-block;
padding: 15px 100px 80px 100px;
}

.column-card-list {
  outline: 1px solid red;
  min-height: 100px;
  padding: 0px;
  margin: 0px;
}

.card {
  background-color: white; 
}
